.NNotes .newNote .buttons .add input{height:228px;}
.NNotes .profilePic{padding-left:0px;}
.NNotes .userInformation{padding-top:0px;}
.NNotes .newNoteBox .fakebox{border:1px solid #CCCCCC;color:#CCCCCC;padding:5px;border-radius:3px;}
.NNotes .line.note{padding: 6px 6px; margin: 0px; margin-bottom: 10px; border-bottom:1px solid #fafafa; position: relative; }
.NNotes .note p {margin:0px;}
.NNotes .noItems{color:#CCCCCC;font-size:14px;padding:0;text-align:center;}
.NNotes a.nnote-delete { color: #900; }
.nnote-controls {position: absolute;right: 6px;bottom: 6px;}
.nnote-button {margin-left: 6px;}