/* @override http://ams.local/themes/achiiver/css/style.css */

@import url("font/jenna-sue-fontfacekit/stylesheet.css");
@import url("font/Jr-Hand-fontfacekit/stylesheet.css");
/*@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);*/
@font-face {
	font-family: 'Shadows Into Light';
	src: url('font/ShadowsIntoLightTwo-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

html, body, div {-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-touch-callout: none;}
a, a:hover, a:active {text-decoration:none;}

/** 
 * Generic helper classes
 * ----------------------
*/
/* @group Generic styles */

/* Extra form element sizing constratints, by pixel width and height*/
.w20{width:20px;}.w30{width:30px;}.w40{width:40px;}.w50{width:50px;}.w60{width:60px;}.w70{width:70px;}.w80{width:80px;}.w90{width:90px;}.w100{width:100px;}.w110{width:110px;}.w120{width:120px;}.w130{width:130px;}.w140{width:140px;}.w150{width:150px;}.w160{width:160px;}.w170{width:170px;}.w180{width:180px;}.w190{width:190px;}.w200{width:200px;}.w220{width:220px;}.w240{width:240px;}.w250{width:250px;}.w260{width:260px;}.w280{width:280px;}.w300{width:300px;}.w350{width:350px;}.w400{width:400px;}.w450{width:450px;}.w500{width:500px;}.w550{width:550px}.w600{width:600px;}.w700{width:700px;}
.w5pc{width:5%}.w10pc{width:10%}.w15pc{width:15%}.w20pc{width:20%}.w25pc{width:25%}.w30pc{width:30%}.w33pc{width:33%}.w40pc{width:40%}.w50pc{width:50%}.w60pc{width:60%}.w70pc{width:70%}.w80pc{width:80%}.w90pc{width:90%}.w45pc{width:45%}.w55pc{width:55%}.w65pc{width:65%}.w75pc{width:75%}.w85pc{width:85%}.w95pc{width:95%}.w100pc{width:100%;}
.h1{height:1px;}.h20{height:20px;}.h30{height:30px;}.h40{height:40px;}.h50{height:50px;}.h60{height:60px;}.h70{height:70px;}.h80{height:80px;}.h90{height:90px;}.h100{height:100px;}.h110{height:110px;}.h120{height:120px;}.h130{height:130px;}.h140{height:140px;}.h150{height:150px;}.h160{height:160px;}.h170{height:170px;}.h180{height:180px;}.h190{height:190px;}.h200{height:200px;}.h220{height:220px;}.h240{height:240px;}.h250{height:250px;}.h260{height:260px;}.h280{height:280px;}.h300{height:300px;}.h350{height:350px;}.h400{height:400px;}.h450{height:450px;}.h500{height:500px;}.h550{height:550px;}.h600{height:600px;}.h700{height:700px;}

/* flex box layout styles */
.flex-v{display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-flex: 1; /* moz */ -moz-box-orient: vertical; display: -moz-box; -moz-box-flex: 1;}
.flex-h{-webkit-box-orient: horizontal; display: -webkit-box;-webkit-box-flex: 1; /* moz */ -moz-box-orient: horizontal; display: -moz-box; -moz-box-flex: 1;}
.flex, .flex-1 {-webkit-box-flex: 1; display: -webkit-box; /* moz */ -moz-box-flex: 1; display: -moz-box;}
.flex-0, .flex-none {-webkit-box-flex: 0; display: -webkit-box; /* moz */ -moz-box-flex: 0; display: -moz-box;}
.flex-center{display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center; /* moz */ display: -moz-box;-moz-box-pack: center; -moz-box-align: center;}
.flex-right {display: -webkit-box;-webkit-box-pack: end;/* moz */ display: -moz-box;-moz-box-pack: end; }

.align-right {text-align: right;}
.align-center {text-align: center;}
.align-left {text-align: left;}

.clear-left{clear:left;}
.clear-right{clear:right;}
.clear-both{clear:both;}

.inline {display:inline;}
.inline-block{display: inline-block;}
.help-inline{}

#message {width: 500px;position: fixed;background-color: #DFF0D8;left: 50%;margin-left: -255px;text-align: center;border-radius: 0 0 5px 5px;padding: 5px;height: 18px;border: 1px solid #D6E9C6;border-top: 0;box-shadow: 0 0 5px rgba(0,0,0,0.5);z-index: 100;display: none; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);color:#468847;}
#message.error {background-color: #F2DEDE;color: #B94A48;border-color: #EED3D7;}

.alert-grey {color: #666;background-color: #e7e7e7;border-color: #ccc;}

.wide-modal.modal.fade.in{top:45%;}
.wide-modal.modal.fade{-moz-transition:opacity 0.2s linear 0s, top 0s ease-out 0s;-webkit-transition: opacity 0.2s linear, top 0s ease-out;}
.modal.wide-modal {width: 900px;margin-left: -450px; top:45%;}
.modal.wide-modal .modal-body{-webkit-overflow-scrolling: touch;}

.text-overflow{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.scroll-touch {overflow-y: auto;-webkit-overflow-scrolling: touch;}
.displaynone {display: none;}
.portrait-only{display:none;}
.text-shadow-inset {text-shadow: rgba(0,0,0,0.4) -1px 0, rgba(0,0,0,0.2) 0 -1px, rgba(255,255,255,0.3) 0 1px, rgba(0,0,0,0.1) -1px -2px;}
.border-box{box-sizing: border-box;}
.no-box{border: none;background: none;box-shadow: none;}
.grey-text,.grey-text:hover, .grey-text > a, .grey-text > a:hover {color: #666;}
.no-bg{background:none;}
.pos-rel{position: relative;}

.content-box {margin: 10px;	border-radius: 7px;	background-color: #f7f7f7; box-shadow:1px 1px 5px 2px rgba(0, 0, 0, 1);}
.content-box.white {background-color: white;}
.content-box.stitched{box-shadow:0px 0px 0px 3px #eee,1px 1px 5px 5px rgba(0, 0, 0, 1);border: 1px dashed #ccc;}

/* @end Generic styles */

#ipad-container{width: 100%;min-height: 100%;position: absolute;left: 0px;bottom: 0px;right: 0px;top: 0px;}
.ipad{overflow:hidden;}
.ipad-header{height:65px;background: rgb(235,235,235) url(../images/spiral-bind.jpg) no-repeat left top;}
.ipad-content {}
.ipad-footer{height: 50px;min-width: 100%;box-sizing: border-box;background: rgb(52,52,52); /* Old browsers */background: -moz-linear-gradient(top,  rgba(52,52,52,1) 0%, rgba(37,37,37,1) 50%, rgba(21,21,21,1) 51%, rgba(10,8,9,1) 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,52,52,1)), color-stop(50%,rgba(37,37,37,1)), color-stop(51%,rgba(21,21,21,1)), color-stop(100%,rgba(10,8,9,1))); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  rgba(52,52,52,1) 0%,rgba(37,37,37,1) 50%,rgba(21,21,21,1) 51%,rgba(10,8,9,1) 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  rgba(52,52,52,1) 0%,rgba(37,37,37,1) 50%,rgba(21,21,21,1) 51%,rgba(10,8,9,1) 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  rgba(52,52,52,1) 0%,rgba(37,37,37,1) 50%,rgba(21,21,21,1) 51%,rgba(10,8,9,1) 100%); /* IE10+ */background: linear-gradient(to bottom,  rgba(52,52,52,1) 0%,rgba(37,37,37,1) 50%,rgba(21,21,21,1) 51%,rgba(10,8,9,1) 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */border-bottom:1px solid #1d2425;}

.ipad-action-bar {box-shadow:0px 1px 0px #757575 inset;border-top:1px solid #000;background: -moz-linear-gradient(top,  rgba(83,83,83,0.95) 0%, rgba(37,37,37,0.95) 50%, rgba(10,14,10,0.95) 51%, rgba(10,8,9,0.95) 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,83,83,0.95)), color-stop(50%,rgba(37,37,37,0.95)), color-stop(51%,rgba(10,14,10,0.95)), color-stop(100%,rgba(10,8,9,0.95))); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  rgba(83,83,83,0.95) 0%,rgba(37,37,37,0.95) 50%,rgba(10,14,10,0.95) 51%,rgba(10,8,9,0.95) 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  rgba(83,83,83,0.95) 0%,rgba(37,37,37,0.95) 50%,rgba(10,14,10,0.95) 51%,rgba(10,8,9,0.95) 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  rgba(83,83,83,0.95) 0%,rgba(37,37,37,0.95) 50%,rgba(10,14,10,0.95) 51%,rgba(10,8,9,0.95) 100%); /* IE10+ */background: linear-gradient(top,  rgba(83,83,83,0.95) 0%,rgba(37,37,37,0.95) 50%,rgba(10,14,10,0.95) 51%,rgba(10,8,9,0.95) 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2535353', endColorstr='#f20a0809',GradientType=0 ); /* IE6-9 */}
.badge-ios {font-size:11px;padding:1px 5px 2px 6px;position:absolute;border: 2px solid #FFFFFF;border-radius: 12px 12px 12px 12px;box-shadow: 1px 1px 2px #000000;font-size: 13px;position: absolute;text-shadow: 0 1px 0 #000000;background-image: linear-gradient(bottom, rgb(161,6,6) 49%, rgb(230,41,41) 75%, rgb(255,105,118) 100%);background-image: -o-linear-gradient(bottom, rgb(161,6,6) 49%, rgb(230,41,41) 75%, rgb(255,105,118) 100%);background-image: -moz-linear-gradient(bottom, rgb(161,6,6) 49%, rgb(230,41,41) 75%, rgb(255,105,118) 100%);background-image: -webkit-linear-gradient(bottom, rgb(161,6,6) 49%, rgb(230,41,41) 75%, rgb(255,105,118) 100%);background-image: -ms-linear-gradient(bottom, rgb(161,6,6) 49%, rgb(230,41,41) 75%, rgb(255,105,118) 100%);}
.ipad-action-btn a {background-color: transparent;background-image: url('../images/ipad-nav.png');background-position: -770px -1px;color: #CDCDCD;cursor: pointer;display: block;font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, 'BBAlpha Sans', sans-serif;font-size: 11px;height: 44px;line-height: 18px;outline-color: #CDCDCD;outline-style: none;outline-width: 0px;position: relative;text-align: center;text-decoration: none;width: 85px;}
.ipad-action-btn.active a {background-image: url('../images/ipad-nav-active.png');}
.ipad-action-bar .home a {background-position: 0px -1px;}
.ipad-action-bar .infopack a {background-position: -660px -1px;}
.ipad-action-bar .territory a {background-position: -440px -1px;}
.ipad-action-bar .contacts a {background-position: -770px -1px;}
.ipad-action-bar .schedule a {background-position: -880px -1px;}
.ipad-action-bar .call a {background-position: -330px -1px;}

.ipad-action-btn span{background-color: transparent;bottom: -2px;color: #CDCDCD;cursor: pointer;display: block;height: 18px;left: 0px;line-height: 18px;position: absolute;text-align: center;text-decoration: none;width: 85px;}
.ipad-action-btn.active span{color:#fff;}

.section-block{min-width:100%;}

#home, #callhistory {border-top: 2px solid #373737;}

/* @group CRM styles */

.crm-header, .infopack-header {background-color:#303030;box-shadow: inset 0px 1px 0px #666;border-top:1px solid #303030;border-left:1px solid #131313;box-shadow:-1px 0px 2px rgba(0, 0, 0, 0.5), inset 1px 0px 4px rgba(0, 0, 0, 0.4), inset 0px 1px 0px #666;}
.crm-header-text, .infopack-header-text {text-shadow: 0px 1px #000;color:#fff;font-size:16px;-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(0,0,0,0.6)));}
.crm-content, .infopack-content {background-color:#fff;box-shadow:-1px 0px 10px rgba(0, 0, 0, 0.1), inset 1px 0px 5px rgba(0, 0, 0, 0.06);}

#crm-detail{padding:5px;}
.crm-item{padding:5px;border-bottom:1px dashed #eee;cursor:pointer;border-top: 1px solid #fff;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.crm-item.active{background-color: #DFDFDF;border-top: 1px solid #7E7E7E;border-bottom: 1px solid #8F8F8F;box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);}
.crm-item img{border-radius:50px;}
#crm-group, .crm-group-list{background-color:#303030;}
.crm-group{padding:5px 0px;-webkit-user-select:none;-moz-user-select:none;}
.crm-group .group-text{text-align:center;font-family: jrhandRegular; max-width:100%;color: #CCC;text-shadow: 0px -1px black;}
.crm-group.active .group-text{color:#fff;text-shadow:0px 1px #000;}
.crm-group.active{}
.crm-group-box{width:8%;}
.crm-list-box{width:20%;}
.crm-image-small{/*box-shadow:0px 0px 3px #000;border:1px solid #fff;*/float:left;}
.crm-link-label {margin-left: 39px;padding-top: 6px;display: block;}
.crm-contact-subtitle {font-family: jrhandRegular; font-size:1.6em;margin-top:10px;margin-bottom:6px;color:#4B3481;}

.inpage-polaroid{background-image:url(../images/crm-contact-polaroid.png);width:203px;height:230px;position:relative;margin-left:-8px;margin-right:8px;}
.inpage-polaroid img{-webkit-transform: rotate(-4.5deg);-moz-transform: rotate(-4.5deg);position: absolute;top: 24px;left: 28px;width:144px;height:155px;-webkit-box-shadow:0px 0px 2px 2px #c3cbde;}
.inpage-polaroid .inpage-polaroid-text {font-family: jrhandRegular; font-size:18px;position: absolute;bottom: 20px;-webkit-transform: rotate(-5deg);-moz-transform: rotate(-5deg);left: 34px;text-overflow: ellipsis;white-space: nowrap;overflow:hidden;width:138px;}
.crm-contact-name{font-family: jrhandRegular;font-size:35px;font-size: 32px;line-height: 1em;}

.crm-contact-detail div {display: inline-block;font-size:1.2em;}
.crm-contact-detail .crm-contact-label {width:60px;font-family: 'Arial Rounded MT Bold';font-size:1.1em;}

.contact-relationship{border-bottom: 1px dotted #CCC;margin: 15px 0px 15px 0px;padding: 5px 0px 15px 0px;}
.contact-relationship .rel-image{margin-right:15px;}

.crm-department {clear:both;font-size:1.3em;}
.crm-department a {color:#333;}
.crm-department, .crm-staff, .crm-network {border-bottom: 1px dotted #CCC;margin: 10px 0px;padding: 5px 0px 10px 5px;}
.crm-staff {display:block; color:#000; font-size:1.1em;}
.crm-staff .contact-name {font-size:1.2em;}

/* @end */

#ipad-container{background-image:url('../images/leather-bg.png');}

.list-vertical {box-shadow:-1px 0px 10px rgba(0, 0, 0, 0.1), inset 1px 0px 5px rgba(0, 0, 0, 0.06);overflow-y: auto;-webkit-overflow-scrolling: touch;}
.list-vertical a {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display: block;padding: 8px;color: #333;font-size: 14px;border-bottom: 1px solid #ccc;}
.list-vertical a.active {color: #fff; background: #3a2966; /* Old browsers */
background: -moz-linear-gradient(top, #3a2966 0%, #4b3481 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a2966), color-stop(100%,#4b3481)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #3a2966 0%,#4b3481 100%); /* Chrome10+,Safari5.1+ */
background: linear-gradient(to bottom, #3a2966 0%,#4b3481 100%); /* W3C */}
.list-vertival a.activeold {background: linear-gradient(top,  #0048cc 0%,#0082da 100%); /* W3C */background: #0048cc; /* Old browsers */background: -moz-linear-gradient(top,  #0048cc 0%, #0082da 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0048cc), color-stop(100%,#0082da)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #0048cc 0%,#0082da 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #0048cc 0%,#0082da 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #0048cc 0%,#0082da 100%); /* IE10+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0048cc', endColorstr='#0082da',GradientType=0 ); /* IE6-9 */}
.content-block {background-color:#fff;}

/* @group Call Styles */

#call{background: transparent url(../images/notepad-landscape-bg.jpg) no-repeat 0 0;padding: 80px 42px 40px 40px;}
#call-warning-bar {position: absolute;z-index: 1000;background-color: #C00;font-weight: bold;top: 0;left: 0;width: 100%;height: 50px;text-align: center;line-height: 50px;text-shadow: 0px 1px #000;color:#fff;font-size:1.7em;font-family: 'Arial Rounded MT Bold';box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.5);}
#call-inner {margin-left: 10px;overflow-y: auto;min-height: 100%;}
#call-inner h4 {font-family: 'Shadows Into Light', cursive; font-size: 1.4em;margin-bottom: 10px;}
.call-header {padding-top: 6px;}
.call-tab-title {font-family: 'Shadows Into Light', cursive; font-size: 1.4em; padding: 17px 15px 15px;	-webkit-transform: rotate(-3.5deg);-moz-transform: rotate(-3.5deg);min-width: 55px;}
.call-tab-title.active {background: transparent url(../images/call-tab-active.png) no-repeat center top;}
.call-tab-separator {width: 48px; background: transparent url(../images/call-tab-separator.png) no-repeat center center;margin: 0 -13px;}
.call-section-title {font-family: 'Arial Rounded MT Bold'; font-size: 1.8em; text-transform: uppercase; color: #a597c4; word-spacing: 2px; letter-spacing:1px;}
.call-time {width: 60px; background: transparent url(../images/clock-mini.png) no-repeat left center; margin-left: 30px; color: #a597c4; font-size: 1.4em; font-weight: normal; letter-spacing: 1px; padding-left: 22px;}

.polaroid-1 {background: transparent url(../images/polaroid_1.png) no-repeat left top; width: 217px; height: 262px;	margin-top: -26px;}
.polaroid-2 {background: transparent url(../images/polaroid_2.png) no-repeat left top; width: 217px; height: 264px; margin-top: 10px;}

.polaroid-1, .polaroid-2 {position: relative;}
.paperclip {position: absolute;}

.polaroid-1 .paperclip {background: transparent url(../images/paperclip_1.png) no-repeat left top; width: 93px; height: 76px; margin-top: 14px; margin-left: -27px;}
.polaroid-2 .paperclip {background: transparent url(../images/paperclip_2.png) no-repeat left top; width: 80px; height: 96px; margin-top: 20px; margin-left: -31px;}
.polaroid-image {background-color:#bbb;}
.polaroid-image img {box-shadow: 0px 0px 2px 2px rgba(187,187,187,0.5);}
.polaroid-1 .polaroid-image {position: absolute; margin-top: 16px; margin-left: 20px; -webkit-transform-style: preserve-3d; -webkit-transform: rotateZ(-3.8deg);}
.polaroid-2 .polaroid-image {position: absolute; margin-top: 19px; margin-left: 20px;-webkit-transform-style: preserve-3d; -webkit-transform: rotateZ(0.6deg); }
.polaroid-text {position: absolute; width: 168px;}
.polaroid-1 .polaroid-text {margin-top: 208px; margin-left: 30px; -webkit-transform: rotate(-3.8deg);-moz-transform: rotate(-3.8deg); white-space: nowrap;}
.polaroid-2 .polaroid-text {margin-top: 211px; margin-left: 20px; -webkit-transform: rotate(0.6deg);-moz-transform: rotate(0.6deg); white-space: nowrap;}
.polaroid-text .polaroid-person-name {font-family: jrhandRegular;font-size: 17px;text-overflow: ellipsis;overflow: hidden;}
.polaroid-text .polaroid-person-description {font-family: 'Arial Rounded MT Bold';font-size: 11px;text-overflow: ellipsis;overflow: hidden;color: #555;}

#outcome_meeting {border-top:1px solid #e7e7e7;}
#outcome_meeting, #outcome_meeting label {font-size:15px;font-family:'Arial Rounded MT Bold';}

.pen-field, textarea.pen-field{padding-left: 34px;padding-top: 2px;box-sizing:border-box;background-image: url(../images/pencil.gif);background-repeat: no-repeat;background-position: left top;font-size:16px;line-height:1.5em;}

.note-header {font-size:18px;font-family:jrhandRegular;margin-bottom:3px; color:#999;}
.note-text {font-size:14px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.note-font {font-family:jrhandRegular;line-height:1.4em;}
.marker-font {font-family: 'Shadows Into Light', cursive;}
.rounded-font {font-family:'Arial Rounded MT Bold';}

.tab-content > .active.flex, .pill-content > .active.flex {display:-webkit-box;}
.nav-tabs li {font-family:'Arial Rounded MT Bold';}

.pca-question {border-bottom: 1px solid #ddd;padding-bottom: 16px;margin-top: 16px;}

.actor-crm h4 {
	margin: 20px 0 10px 0;
	border-top: 1px solid #ccc;
	padding: 6px 5px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* W3C */
}

.actor-crm h3 {font-family: 'Arial Rounded MT Bold';color: #A597C4;padding: 16px 0 0 0;}

.actor-crm h4 + div, .actor-crm h4 + div p, .actor-crm h4 + table {font-size: 14px;}

.actor-prev-call,
.actor-relationship {
	border-radius: 7px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	margin: 10px 3px 10px 1px;
	background-color: #fff;
}
.actor-relationship {
	padding: 10px;
}
.actor-relationship .unit {
	/*line-height: 30px;*/
}

.prev-call-header {
	padding: 8px 10px;
	font-size: 1.3em;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	font-family: 'Arial Rounded MT Bold';
	background: transparent url(../images/texture-strip-bg-green.jpg) no-repeat center top;
	border-radius: 7px 7px 0 0;
	border-bottom: 1px solid #bbb;
}

.prev-call-header .badge {
	padding: 5px 8px;
	font-size: 0.8em;
}

.prev-call-body {
	padding: 8px 10px;
	font-size: 1.1em;
}

.prev-call-body strong {
	font-family: 'Arial Rounded MT Bold';
	font-weight: normal;
}

.stars {width: 65px;height: 13px;background: transparent url(../images/stars-sprite.png) no-repeat 0 0;}
.stars.score-1{}
.stars.score-2{background-position: 0 -13px;}
.stars.score-3{background-position: 0 -26px;}
.stars.score-4{background-position: 0 -39px;}
.stars.score-5{background-position: 0 -52px;}

/* @end */

/* @group Call Timer clock styles */
.timer-wrap{width:200px;height:200px;position:relative;}
.timer {
	z-index:5;
	position:absolute;
	top:0px;left:0px;
	font-size: 200px;
	width:1em;
	height:1em;
	float: left;
}
.timer > .percent {
	position: absolute;
	line-height: 4.4em;
	left: 0.5em;
	width: 3.33em;
	font-size: 0.23em;
	text-align: center;
	font-family: 'Arial Rounded MT Bold';
}
.timer > #slice {position:absolute;	width:1em; height:1em; clip:rect(0px,1em,1em,0.5em);}
.timer > #slice.gt50 {clip:rect(auto, auto, auto, auto);}
.timer > #slice > .pie {
	border: 0.1em solid #d63d40;
	position:absolute;
	width:0.8em; /* 1 - (2 * border width) */
	height:0.8em; /* 1 - (2 * border width) */
	clip:rect(0em,0.5em,1em,0em);
	-moz-border-radius:0.5em;
	-webkit-border-radius:0.5em; 
	border-radius:0.5em;
}
.timer > #slice > .pie.fill {
	-moz-transform:rotate(180deg) !important;
	-webkit-transform:rotate(180deg) !important;
	-o-transform:rotate(180deg) !important;
	transform:rotate(180deg) !important;
}
.timer.fill > .percent {display: none;}
.timer.fill > #slice > .pie {border: transparent;	background-color: red; width:1em; height:1em;}
.timer-bg, .timer-bg-shadow {
	position:absolute;
	top:0px;left:0px;
	font-size: 200px;
	width:1em;
	height:1em;
	float: left;
}
.timer-bg{background: transparent url(../images/clock-bg-large.png) no-repeat center center;}
.timer-bg-shadow {background: transparent url(../images/clock-shadow-large.png) no-repeat center center; z-index: 100;}
.timer-wrap.small {width:144px;height:144px;}
.timer-wrap.small .timer, .timer-wrap.small .timer-bg, .timer-wrap.small .timer-bg-shadow {font-size: 144px;}
.timer-wrap.small .timer-bg {background-image: url(../images/clock-bg-small.png);}
.timer-wrap.small .timer-bg-shadow {background-image: url(../images/clock-shadow-small.png);}
	
/* @end */

.alert-exclaim {
	background: transparent url(../images/exclaimation-mark.png) no-repeat left top;
	min-height: 43px;
	padding-left: 50px;
	padding-top: 12px;
	font-family: 'Shadows Into Light', cursive; 
	font-size:1.6em;
}

/* @group Call Competencies */

.competency-box {
	-webkit-transform: translate3d(0,0,0);
	border-radius:7px;
	margin: 0;
	padding: 8px 5px;
	box-sizing:border-box;
}
.competency-inner {
	background-color: #eee;
	border-radius:7px;
	-webkit-box-align: center;
	-moz-box-align:center;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	font-size: 14px;
	background: transparent url(../images/texture-strip-bg-green.jpg) no-repeat center top;
	border: 1px solid #bbb;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	background-color: white;
}
.competency-title {padding: 7px 10px;font-size:16px;line-height:20px;}
.competency-body {padding: 8px 8px 0;	border-radius: 0 0 6px 6px;}
.competency-ob {
	margin: 8px 0;
	/*font-family: 'Shadows Into Light', cursive;*/
	font-size: 1.1em;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	/*letter-spacing: 0.1em;*/
	-webkit-transform: translate3d(0,0,0);
	border-radius:7px;
}

/*.competency-ob.selected {}*/
.competency-footer {margin: 8px -8px 0; border-top: 1px solid #ccc;	padding: 8px;}
.select-ob {
	height:17px;
	border: 1px solid #bbb;
	padding: 8px 12px;
	border-radius: 7px 7px 0 0;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(245,244,247,1) 2%, rgba(230,227,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(2%,rgba(245,244,247,1)), color-stop(100%,rgba(230,227,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,244,247,1) 2%,rgba(230,227,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(245,244,247,1) 2%,rgba(230,227,239,1) 100%); /* W3C */
	text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
}
.competency-ob.selected .select-ob {box-shadow: inset 2px 2px 2px rgba(0,0,0,0.3);background: transparent url(../images/texture-strip-bg-green.jpg) no-repeat center top;}
.ob-tick{display:none;}
.selected .ob-tick{display:inline;}
.select-ob + .ob-tick {border-left: none;display: none;}
.ob-description {border-radius: 0 0 7px 7px;border:1px solid #ddd;padding:8px;}
.competency-ob.selected .ob-description {background-color: #EBEEE7}
a.ob-details {
	display:block;
	height:26px;
	padding: 7px 0px 0;
	text-align:center;
	border-radius: 0 7px 7px 0;
	border: 1px solid #9991a7;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #dcd9e2 2%, #9c8db8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#dcd9e2), color-stop(100%,#9c8db8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#dcd9e2 2%,#9c8db8 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #ffffff 0%,#dcd9e2 2%,#9c8db8 100%); /* W3C */
}
.competency-box.disabled {background:none;border:none;box-shadow: none;}
.competency-box.disabled .competency-inner {border-radius: 6px; background-image: url(../images/texture-strip-bg-red.jpg);box-shadow: 1px 1px 1px rgba(0,0,0,0.1);}

/* @end */

/* @group Home */

.call-schedule {font-family: 'Arial Rounded MT Bold';}
.call-history h2, .call-schedule h2 {
	font-size: 1.4em;
	text-shadow: 1px 1px 0px rgba(255,255,255,1), -1px -1px 0px rgba(255,255,255,0.3);
	padding: 0 5px 0 7px;
	margin: 0 0 16px;
	border-bottom: 1px solid #bbb;
	width: 100%;
	background: transparent url(../images/texture-strip-bg-green.jpg) no-repeat center top;
	box-sizing: border-box;
	border-radius: 7px 7px 0 0;
}
#call-history-list {padding: 0 5px;}
.schedule-list { margin: 10px; }
.call-history .call {width:100%; padding: 6px 3px;}
.call-history .call, .schedule-list {
	box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.1);
	margin-bottom: 10px;
	border-radius: 3px;
	border:1px solid #ddd;
	box-sizing: border-box;
	background-color: #fff;
	font-size: 1.2em;
}
#schedule-list .schedule-item { border-bottom: 1px solid #ddd;padding:8px;}
#call-history-list .call .unit, #schedule-list .schedule-item unit {border-right: 1px solid #ccc; padding: 5px 8px;}
.call-history .badge, .call-schedule .badge {font-size: 1.2em;}
#call-history-list .call .unit:last-child, #schedule-list .schedule-item .unit:last-child {border-right: none;}
.call-history .call-data {font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:1.15em;color:#666;margin-top:8px;margin-bottom:16px;}

/* @end */

/* @group Territory */

.territory-item-list-image { box-shadow: 0 2px 4px 1px #ccc; border-radius:3px; float:left; width:25px; height: 25px; padding:2px; margin-left:5px; margin-right:10px; text-align:center; vertical-align:middle;}
.territory-item-list-image img {margin:auto; height:23px; padding:auto;}
.territory-item { background-color: transparent; width:200px; position: absolute;}
.territory-item-inner {cursor:pointer; background-color: #eee; opacity:0.9; float: none; height:50px; padding:10px; border-radius: 8px; border:2px dotted #777; box-shadow: 0 2px 4px 1px #ccc; }
.territory-item-text {border:0px solid black; width:160px; position:relative;}
.territory-item-marker {display:block; position:relative; height:40px; padding-top:10px; text-align: center; width:200px; border:0px solid black;}

/* @end */

/** ipad in landscape with safari link bar */
@media only screen and (max-width: 1024px) and (max-height:740px) {
	#call {margin-top:-50px;}
}

/** ipad in portrait mode */
@media only screen and (max-width: 800px) {
	#call {background-image: url(../images/notepad-portrait-bg.jpg);padding: 60px 20px 20px 22px;}
	#call .call-header {margin-bottom: 4px;}
	#call-inner {padding-bottom:20px;padding-right:5px;}
	
	/** crm view updates in portrait mode */
	.crm-group-box{width:45px;}
	.crm-group-box .crm-header-text{display:none;}
	.crm-list-box{width:45px;}
	.crm-list-box .crm-header-text{display:none;}
	.crm-list-box .crm-list-item-text{display:none;}
	.crm-group-box .group-text{display:none;}

	.portrait-only{display:block;}
	.portrait-only.flex{display:-webkit-box}
	.landscape-only{display:none;}

	.list-overlay {position: fixed;height: 576px;background-color: white;box-shadow: 3px 10px 8px 1px rgba(0,0,0,0.5);z-index:200;}
	.modal.wide-modal {width: 700px;margin-left: -350px; top:45%;}
}

/** ipad in portrait with safari link bar */
@media only screen and (max-width: 800px) and (max-height:1000px) {
	#call {margin-top:-10px;}
}

/** desktop preview mode */
@media only screen and (min-width: 1025px) {
	body.delegate {background-image: none;}
	body.ipad #ipad-container {
		background-color:#eee;
		height: 746px;
		top: 50%;
		margin-top: -378px;
		border: 2px solid #333;
		border-radius: 4px;
		margin-left: -514px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
		min-height: 672px;
		width: 1025px!important;
		left: 50%!important;
		position: absolute!important;
	}
}
/* firefox hack */
.ipad-content{height:85%;}